body{
  margin: 50px;
}

.comment-box{
  border:1px solid black;
  width: 50%;
  min-width: 350px;
  padding: 10px 50px 20px 50px;
  margin:0 auto;
}

h1{
  font-size:2em;
  text-align: center;
}

h2{
  font-size:1.5em;
}
